# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Mac
.DS_Store

# Secrets (IMPORTANT)
discord_token.txt
openRouter_token.txt
token.txt
.env

# Data & Output
input/
output/

# External Tools
DiscordChatExporterCli/

# Testing & Logs
.pytest_cache/
.coverage
htmlcov/
logs/
*.log
src/extraction/resources/channels_cache.json
